.tab-container {
    display:flex;
    align-items: center;
    justify-content: center;

}
.tab-container li{
    align-self: center;
}
:host {
    --sds-c-checkbox-color-background-checked: rgb(27, 150, 255);
    --sds-c-checkbox-mark-color-foreground: white;
}


.completed-subtodo{
    text-decoration: line-through;
}
